{% extends 'companybase.html' %}
{% load static %}
{% block content %}
<section class="page-section bg-primary text-white mb-0" id="about" style="margin-top: 6rem;">
            <div class="container">
                <!-- About Section Heading-->
                {% for data in job%}
                <h2 class="page-section-heading text-center text-uppercase text-white">{{data.job_name}}</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div style="text-align: center;">
                  <form method='POST' action="{% url 'matchboxcompany'%}">
                  {% csrf_token %}
                    <h4>{{data.company_id}}</h4>
                    <p>{{data.job_description}}</p>
                    <p>{{data.date_posted}}</p>
                    <input maxlength='70' hidden name='job_name' value="{{data.job_name}}">
                    {% endfor %}
                </div>
                <!-- About Section Button-->
                <div class="text-center mt-4">
                    <button type='submit' style="background-color: #2c3e50; border-radius: 20px;">
                    <a class="btn btn-xl btn-outline-light" style="background-color: #2c3e50; color: white; border-color: #2c3e50;">
                        View Potential Candidates
                    </a>
                    </button>
                </div>
                </form>
            </div>
        </section>

{% endblock %}