{% extends 'companybase.html' %}
{% load static %}
{% block content %}
     <section class="page-section portfolio" id="portfolio" style="margin-bottom: 1rem; margin-top: 6rem;">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Posted Jobs:</h2>
            <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <div class="row justify-content-center">
                    
                    {% for job in jobs %}
                   
                        <div class="col-md-6 col-lg-4 mb-5" style="box-shadow: 0 0 9px; padding: 3rem; margin: 2rem; background-color: #2c3e50; text-align: center;">
                        
                          
                                <p style="font-size: 2.5rem; color: white;">{{job}}
                                 <br>
                                 <span style="font-size: 1.5rem; color: white;">{{job.company_id}}</span></p>
                                 <p style="font-size: 1.25rem; color: white;">{{job.job_description}}</p>
                                 <p style="font-size: 1.25rem; color: white;">{{job.date_posted}}</p>
                                 
                    <form style='padding: 2rem;' method='POST' action="{% url 'companyjob' %}">
                     {% csrf_token %}
                            <input name='job_id' hidden value={{job.id}}> 
                            <button type='submit' style="font-size: 1.5rem; background-color: #1abc9c; border-radius: 20px; border-color: #1abc9c; padding: .5rem; color: white;">View Job Here</button>
                        </div> 
                    </form>       
            {% endfor %}
                </div>
        </div>
    </section>
{% endblock %}