{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about" style="margin-top: 4rem;">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">About Us:</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
              
                    <div class='container-sm' style="text-align: center;"><p class="lead"> Our organization is dedicated to promoting diversity and inclusion in America’s employment by connecting the Black community with employers who foster equal opportunity as part of their corporate policies. The BCR website hopes to provide a platform to connect Blacks to companies that are interested
                        in increasing Black diversity in their workforce by addressing the three problems stated above.</p>
                        <br>
                        <br>
                        <h2>We will help bridge the job inequality gap!</h2>
                    </div>
                </div>
                <!-- About Section Button-->
                <div class="text-center mt-4">
                    <a class="btn btn-xl btn-outline-light" href="{% url 'home'%}">
                        Back to Home
                    </a>
                </div>
            </div>
        </section>
{% endblock %}