{% extends 'base.html' %}
{% load static %}
{% block content %}
 <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src=" {% static 'assets/img/avataaars.png' %}" alt="" />
                <!-- Masthead Heading-->
                <h2 class="masthead-heading text-uppercase mb-0">Black Cyber Recruiter</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0">We will help bridge the job inequality gap!</p>
            </div>
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Recommended Candidates:</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <!--THIS NEEDS TO BE CHANGED TO RETURN RECOMMENDED APPLICANTS-->
                   <a href="{% url 'matchbox' %}" style="padding: .5rem">
                   <button style="background-color: #1abc9c; border-radius: 35px; border-color: #1abc9c; padding: 1rem; box-shadow: 0 0 9px; color: white;"> Click Here to See Your Recommended Jobs!</button>
                   </a>
                </div>
            </div>
        </section>
{% endblock %}